<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1" >  <!-- 반응형 웹에 사용하는 메타태그 -->
    <link rel="stylesheet" href="css/bootstrap.css"> <!-- 참조  -->

</head>

<body>
<nav class ="navbar navbar-default">
    <div class="navbar-header"> <!-- 홈페이지의 로고 -->
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expand="false">
            <span class ="icon-bar"></span> <!-- 줄였을때 옆에 짝대기 -->
            <span class ="icon-bar"></span>
            <span class ="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
            <li><a href="shop" id="logo"><img src="https://bakey-api.codeit.kr/files/629/images/logo.png" height="20" width="149"></a></li>
            <li><a href="bbs">문의</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {{#userID}}
                <li><a href="mypage">마이페이지</a></li>
                <li><a href="cart">장바구니</a></li>
            {{/userID}}
            <li class="dropdown">
                <a href="#" class = "dropdown-toggle"
                   data-toggle="dropdown" role ="button"
                   aria-haspopup="true"
                   aria-expanded="false">접속하기<span class="caret"></span></a>

                {{#userID}}
                    <ul class="dropdown-menu">
                        <li class="active"><a href="logoutAction">로그아웃</a></li>
                    </ul>
                {{/userID}}

                {{^userID}}
                    <ul class="dropdown-menu">
                        <li class="active"><a href="login">로그인</a></li>
                        <li><a href="join">회원가입</a></li>
                    </ul>
                {{/userID}}
            </li>
        </ul>
    </div>
</nav>