{{>layouts/header}}

<body>
    <div class="container">
        <div class="row">
            <table class="table table-striped" style="text-align:center; border:1px solid #dddddd">
                <thead>
                <tr>
                    <th style="background-color:#eeeeee; text-align:center;">번호</th>
                    <th style="background-color:#eeeeee; text-align:center;">제목</th>
                    <th style="background-color:#eeeeee; text-align:center;">작성자</th>
                    <th style="background-color:#eeeeee; text-align:center;">작성일</th>
                </tr>
                </thead>
                <tbody>
                {{#bbsList}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="bbs_view?bbs_id={{id}}">{{title}}</td>
                        <td>{{user.username}}</td>
                        <td>{{createdAt}}</td>
                {{/bbsList}}

                    </tr>
                </tbody>

            </table>
            {{#prevExist}}
                <a href="prev_page?pageNumber={{pageNumber}}" class="btn btn-success btn-arrow-left">이전</a>
            {{/prevExist}}
            <a href="next_page?pageNumber={{pageNumber}}" class="btn btn-success btn-arrow-left">다음</a>
            <a href="write" class="btn btn-primary pull-right">글쓰기</a>
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>
</body>