{{#msg}}
    <script>
        alert('{{msg}}')
        location.href = '{{url}}'
    </script>
{{/msg}}


{{>layouts/header}}

{{#bbs}}
<div class="container">
    <div class="row">
        <form method="post" action="/bbs_updateAction">
            <table class="table table-striped" style="text-align:center; border:1px solid #dddddd">
                <thead></thead>
                <tbody>
                    <tr>
                        <td><input type="text" class="form-control" placeholder="글 제목"  name="Title" maxlength="50" value="{{title}}"></td>
                    </tr>
                    <tr>
                        <td><textarea class="form-control" placeholder="글 내용"  name="Content" maxlength="2048" style="height:350px">{{bbs.content}}</textarea></td>
                    </tr>
                        <input type="hidden" name="bbsID" value={{bbs.id}}>
                </tbody>
            </table>
            <input type="submit"  class="btn btn-primary pull-right" value="수정">
        </form>
    </div>
</div>
{{/bbs}}



<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.js"></script>