{{>layouts/header}}

<body>
    <form action="chargemoney?id={{userID}}" method="post">
        얼마를 충전하시겠습니까?<input type="number" name="money">
        <input type="submit" value="충전">
    </form>
</body>

